* {
    padding: 0;
    margin: 0;
    color: #333;
    list-style: none;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", Tahoma, Arial, sans-serif;
}

body {
    background: #bbb;
}

#app {
    width: 1200px;
    margin: 100px auto;
    border: 2px solid #333;
    background: #eee;
}

img {
    border: 0;
}

#rolebox {
    height: 300px;
}

.cardbox {
    overflow: hidden;
    margin: 20px;
    border: 1px solid #333;
    width: 550px;
}

#i_rolebox {
    float: left;
}

#t_rolebox {
    float: right;
}

.cardbox ul li {
    padding-bottom: 3px;
    overflow: hidden;
    text-align: left;
    line-height: 28px;
    width: 200px;
}

.cardbox ul li b {
    padding-left: 40px;
}

.cardbox ul li span {
    padding-left: 10px;
}

.cardbox ul li .cname {
    font-weight: bold;
    color: red;
}

.role_0 {
    background: url(../images/0.png) no-repeat;
}

.role_1 {
    background: url(../images/1.png) no-repeat;
}

.role_2 {
    background: url(../images/2.png) no-repeat;
}

.role_3 {
    background: url(../images/3.png) no-repeat;
}
.role_4 {
    background: url(../images/4.png) no-repeat;
}