#up input {
    display: inline-block;
    width: 60px;
    text-align: center;
}

#up table th {
    width: 400px;
    background-color: #ace;
}

#up table td {
    text-align: center;
}

#exp_fenpei {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

#up .ys0 {
    background-color: darkseagreen;
}

#up .ys1 {
    background-color: skyblue;
}

#up .ys2 {
    background-color: orange;
}

#up .ys3 {
    background-color: plum;
}

#up .ys4 {
    background-color: orangered;
}

#up .ys5 {
    background-color: white;
}