#up input {
    display: inline-block;
    width: 40px;
    text-align: center;
}

#up table th {
    width: 400px;
    background-color: #ace;
}

#up table td {
    text-align: center;
}

#exp_fenpei {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

#up table #ys1  {
    background-color: skyblue;
}

#up table #ys2 {
    background-color: plum;
}

#up table #ys3 {
    background-color: orange;
}

#up table #ys4 {
    background-color: orangered;
}

#up table #ys5 {
    background-color: white;
}